html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background:  rgb(241, 241, 241);;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.main {
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: space-evenly;
    flex-direction: row;
    gap: 100px;
}


.main .container {
    height: 800px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 15px;
}

.container .title {
    height: 3 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: x-large;
    color: #6B8E23;
}

.main .container .box {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.main .container .campo {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main .container .campo-select {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box input {
    height: 50px;
    width: 500px;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 16px;
    padding: 0 0 0 10px;
}

.box span {
    font-size: x-large;
    text-align: center;
}

.campo-select select {
    width: 170px;
    height: 35px;
    font-size: 14px;
    text-align: center;
    color: black;
    background: white;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .container button {
    border-radius: 12px;
    margin: 10px 0 0 0;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    color: white;
    background: #6B8E23;
}



.main .resposta {
    border: 3px solid black;
    width: 740px;
    height: 800px;
    border-radius: 15px;
    overflow-wrap: break-word;
}

.main .container .resposta #div_mensagem {
    height: 100%;
    width: 100%;
    padding: 5px;
    margin: 0 0 10px 0;
}

.resposta b {
    color: #6B8E23;
    font-size: 18px;
}