html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background:  rgb(241, 241, 241);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.main {
    height: 100%;
    width: 100%;
    padding: 20px;
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 5vh;
    background-image: url(https://images.pexels.com/photos/31226932/pexels-photo-31226932.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.main .container {
    height: 80vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background:  rgb(241, 241, 241, 0.9);
    box-shadow:2px 2px 2px black;
}

.container .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: #6B8E23;
}

.main .container .box {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.main .container .campo {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main .container .campo-select {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box input {
    height: 50px;
    width: 500px;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 16px;
    padding: 0 0 0 10px;
}

.box span {
    font-size: x-large;
    text-align: center;
}

.campo-select select {
    width: 170px;
    height: 35px;
    font-size: 14px;
    text-align: center;
    color: black;
    background: white;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .container button {
    border-radius: 12px;
    margin: 10px 0 0 0;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    color: white;
    background: #6B8E23;
}

.main .resposta {
    display: flex;
    height: 80vh;
    width: 50vw;    
    border-radius: 15px;
    overflow-wrap: break-word;
    padding: 0 0 10px 30px;
    flex-direction: column;
    background-color:  rgba(192, 169, 169, 0);
    font-size: 24px;
}

.main .container .resposta .box-resposta {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 5px;
    text-align: center;
}

.resposta b {
    color: #6B8E23;
    font-size: 24px;
}

.resposta p {
    font-size: 24px;
    margin-bottom: 40px;
}

.resposta i {
    font-size: 18px;
    margin-bottom: 40px;
}

.resposta h1 {
    margin-top: 45px;
    margin-bottom: 50px;
    color: #6B8E23;
    font-size: 45px;
    text-align: center;
}