@font-face {
    font-family: 'Montserrat';
    src: url(../fontes/Montserrat-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    margin: 0px;
    background-color: rgb(234, 230, 222);
}

.navbar {
    height: 80px;
    border: 2px dashed black;
}

.tela-login {
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 550px;
    height: 500px;
    border: 1.5px solid rgb(94, 106, 113);
    border-radius: 8px;
}

.login-superior {
    width: 550px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 30px;
}

.voltar {
    margin: 20px;
    position: absolute;
    left: 0;
    top: 0;
}

a > img {
    width: 30px;
    height: 30px;
}

.formulario {
    margin: 0px 20px 0px  20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 140px;
}

p {
    text-align: center;
    font-size: 25px;
}

.input {
    font-size: 20px;
    width: 400px;
    height: 45px;
    border: 0.5px solid rgb(94, 106, 113);
    border-radius: 7px;
    background-color: rgb(241, 241, 241);
    margin: 10px;
    padding: 10px;
}

.button-login {
    padding: 10px;
    justify-self: center;
}

.erroLogin {
    color: red; 
    display: none;
}

button {
    margin-top: 15px;
    background-color: #6B8E23;
    color: white;
    font-size: 15px;
    width: 300px;
    height: 45px;
    border: 0 solid ;
    border-radius: 7px;
    margin-bottom: 47px;
    font-size: 20px;
}

button:hover {
    background-color: #547217;
    cursor: pointer;
}


