@font-face {
  font-family: "Montserrat";
  src: url(../fontes/Montserrat-Regular.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat";
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2a2721;
  color: white;
}

.main {
  display: flex;
  min-height: 90vh;
}

.sidebar {
  background-color: #eae6de;
  width: 200px;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 10px;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  .button,
  .logout {
    text-align: center;
    width: auto;
    margin: 0;
  }
}

.button {
  display: block;
  background-color: #ffa000;
  color: white;
  padding: 10px 15px;
  margin: 5px 0;
  text-decoration: none;
  text-align: left; 
  font-size: 0.9rem; /* rem == % da fonte da pagina (default 16px), escala junto com o tamanho da pagina */
  border: none;
  border-radius: 6px;
  cursor: pointer; /* muda o ponteiro quando passa pelo botão */
  transition: background-color 0.2s; /* deixa a transição de pagina mais suave*/
  background-color: #ff8f00;
  border-left: 5px solid #2a2721;
}

.button.active {
  background-color: #ffb300;
  border-left: 8px solid #2a2721;
}

/* hover é uma pseudoclasse do CSS que aplica estilos ao elemento quando o cursor está sobre ele*/
.button:hover {
  background-color: #ff8f00;
}

.logout {
  background-color: #d9534f; /* vermelho */
  color: white;
  padding: 10px 15px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: left; /* ou center, se preferir */
}

.logout:hover {
  background-color: #c9302c;
}

.main {
    display: flex;
}

.container_bobia {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.forms_bobia {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eae6de;
    border-radius: 12px;
    height: 500px;
    width: 500px;
}

.forms_bobia h1 {
    margin-top: 10px;
}


#pergunta {
  margin-top: 30px;
  border-radius: 5px;
  text-align: center;
  height: 10vh;
  width: 20vw;
}

.bobIa_button {
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(255, 179, 0);
  padding: 15px 15px;
  margin-bottom: 25px;
  color: white;
  font-size: 1rem;
  box-shadow: 3px 3px 8px rgba(225, 225, 44, 0.59);
}

.bobIa_button:hover {
  background-color: #f1bd45;
  border: 2px solid #323130;
}

/* #resposta {

} */